In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
url = 'https://sih-temper-app.eu-gb.mybluemix.net/getuserdb'  
JSONContent = requests.get(url).json()
dat = JSONContent['table']
df = pd.DataFrame(dat)
# df = pd.read_csv('./dummySIH3.csv')
df.columns = ['uid' , 'city' , 'state',"gender","age_range_id","latitude","longitude" ,"se_rank", "rt_rank","cs_rank","si_rank","overall_rank"]
df.fillna(0 , inplace =  True)
df['si_rank'] = df['si_rank'].apply(lambda x: ((x/7) * 100) )
df['se_rank'] = df['se_rank'].apply(lambda y: ((y/4) * 100))
df['cs_rank'] = df['cs_rank'].apply(lambda z : ((z/6) * 100))
df['rt_rank'] = df['rt_rank'].apply(lambda a : ((a/3) * 100))
df['overall_rank'] = df['overall_rank'].apply(lambda b : ((b/20) * 100))
num = df._get_numeric_data()
num[num < 0] = 0

In [101]:
data = JSONContent['table']

In [94]:
df = pd.DataFrame(data)
df.columns = ['uid', 'city' , 'state', "age_range_id", "latitude", "longitude", "si_rank", "se_rank","cs_rank","rt_rank","overall_rank"]
df.fillna(0 , inplace =  True)
df.head()

,uid,city,state,age_range_id,latitude,longitude,si_rank,se_rank,cs_rank,rt_rank,overall_rank
0,02ecaae0a034d892,Howrah,West Bengal,2,22.5848,88.3271,0.0,0.0,0.0,0.0,0.0
1,0d4072140d719390,Jaipur Municipal Corporation,Rajasthan,1,26.8726,75.7960,0.0,0.0,0.0,0.0,0.0
2,102fdcea95f000a6,Jaipur,Rajasthan,3,26.7774,75.8736,4.0,2.0,6.0,2.0,14.0
3,13a59dfe9fb2b3c1,Shafipur,Uttar Pradesh,2,28.4729,77.4820,4.0,3.0,3.0,-2.0,8.0
4,165699385c046a89,Jaipur,Rajasthan,3,26.7758,75.8781,2.5,1.0,0.0,-1.0,2.5

In [96]:
# def si_per():
#     value = (df.si_rank/7) * 100
#     return value
# df
df['si_rank'] = df['si_rank'].apply(lambda x: ((x/7) * 100))
df['se_rank'] = df['se_rank'].apply(lambda y: ((y/4) * 100))
df['cs_rank'] = df['cs_rank'].apply(lambda z : ((z/6) * 100))
df['rt_rank'] = df['rt_rank'].apply(lambda a : ((a/3) * 100))
df['overall_rank'] = df['overall_rank'].apply(lambda b : ((b/20) * 100))
num = df._get_numeric_data()
num[num < 0] = 0
df.head()

,uid,city,state,age_range_id,latitude,longitude,si_rank,se_rank,cs_rank,rt_rank,overall_rank
0,02ecaae0a034d892,Howrah,West Bengal,2,22.5848,88.3271,0.000000,0.0,0.0,0.000000,0.0
1,0d4072140d719390,Jaipur Municipal Corporation,Rajasthan,1,26.8726,75.7960,0.000000,0.0,0.0,0.000000,0.0
2,102fdcea95f000a6,Jaipur,Rajasthan,3,26.7774,75.8736,57.142857,50.0,100.0,66.666667,70.0
3,13a59dfe9fb2b3c1,Shafipur,Uttar Pradesh,2,28.4729,77.4820,57.142857,75.0,50.0,0.000000,40.0
4,165699385c046a89,Jaipur,Rajasthan,3,26.7758,75.8781,35.714286,25.0,0.0,0.000000,12.5

In [3]:
mean_rt_state = df.groupby('state')['rt_rank'].mean().sort_values().round(2)
mean_si_state = df.groupby('state')['si_rank'].mean().sort_values().round(2)
mean_cs_state = df.groupby('state')['cs_rank'].mean().sort_values().round(2)
mean_se_state = df.groupby('state')['se_rank'].mean().sort_values().round(2)
mean_st_state = df.groupby('state')['overall_rank'].mean().sort_values().round(2)
mean_rt_ageid = df.groupby('age_range_id')['rt_rank'].mean().sort_values().round(2)
mean_si_ageid = df.groupby('age_range_id')['si_rank'].mean().sort_values().round(2)
mean_cs_ageid = df.groupby('age_range_id')['cs_rank'].mean().sort_values().round(2)
mean_se_ageid = df.groupby('age_range_id')['se_rank'].mean().sort_values().round(2)
mean_st_ageid = df.groupby('age_range_id')['overall_rank'].mean().sort_values().round(2)
mean_st_state

state
Bihar             0.00
Gujarat           0.00
Kerala           16.25
West Bengal      23.55
Rajasthan        25.31
Uttar Pradesh    28.54
Jharkhand        31.87
Odisha           40.42
Maharashtra      40.62
Karnataka        46.75
Telangana        56.25
Delhi            65.00
Sikkim           67.50
Name: overall_rank, dtype: float64

In [4]:
list(mean_rt_state.index.values)

['Bihar',
 'Gujarat',
 'Telangana',
 'Kerala',
 'West Bengal',
 'Jharkhand',
 'Rajasthan',
 'Karnataka',
 'Uttar Pradesh',
 'Maharashtra',
 'Delhi',
 'Sikkim',
 'Odisha']